
/* Custom Colors
========================================================================= */
$primary_color: #55aad4;
$accent_color: #f4a947;
$second_color: #5191fa;
$btn-color: white;
$footer_color: #262335;
$subfooter_color: #1a172a;

.text-primary-color {
  color: $primary_color;
}

.bg-primary-color {
  background: $primary_color;
}

.bg-accent-color {
  background: $accent_color;
}

.bg-footer-color {
  background: $footer_color;
}

.bg-subfooter-color {
  background: $subfooter_color;
}

.text-accent-color {
  color: $accent_color;
}

$custom-colors: (
  "primary-color": $primary_color,
  "accent-color": $accent_color,
  "second-color": $second_color,
);

$theme-colors: map-merge($theme-colors, $custom-colors);


/* Navbar
========================================================================= */
$navbar-brand-margin-end:                   0;
$nav-link-color:               #0b0951;
$nav-link-hover-color:          $accent_color;


/* card customization
========================================================================= */
.card {

  &__button {
    position: absolute;
    top: 30%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  &:hover {

    .card__header {
      background: black;
    }

    .card__header img  {
      opacity: 0.5;
    }

    .card__header span {
      opacity: 0;
    }

    .card__button {
      opacity: 1;
    }
  }


}


/* enable responsive borders
========================================================================= */
$utilities: map-merge(
  $utilities, 
  (
    "border": map-merge(
      map-get($utilities, "border"),
      ( responsive: true ),
    ),
    "border-top": map-merge(
      map-get($utilities, "border-top"),
      ( responsive: true ),
    ),
    "border-end": map-merge(
      map-get($utilities, "border-end"),
      ( responsive: true ),
    ),
    "border-bottom": map-merge(
      map-get($utilities, "border-bottom"),
      ( responsive: true ),
    ),
    "border-start": map-merge(
      map-get($utilities, "border-start"),
      ( responsive: true ),
    ),
  )
);


/* enable responsive borders
========================================================================= */
.list-inline, .list-unstyled {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}


/* customize font-sizes
========================================================================= */
$font-size-base : 15px;
$line-height-base: 2;
$lead-font-size:              $font-size-base * 1.15;

.fs-7 {
  font-size: .95em !important;
}

.fs-8 {
  font-size: .9em !important;
}



/* banner background image 
========================================================================= */
.bg-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}