/* Define Custom Colors
========================================================================= */
$light_ultramarine:   #55aad4;
$ultramarine:         #dbeafd;
$dark_ultramarine:    #246382;
$light_blue:          #5191fa;
$icon_blue:           #6abaff;
$dark_blue:           #0b0951;
$light_amber:         #f4a947;
$dark_violet:         #1a172a;
$violet:              #262335;
$light-gray:          #f2f2f2;
$light:               #f9f9f9;

/* Modify Theme Colors Map
========================================================================= */
$custom-colors: (
  "color-alpha"   :   $dark_ultramarine,
  "color-beta"    :   $light_amber,
  "color-gamma"   :   $violet,
  "color-delta"   :   $light_ultramarine,
  "color-epsilon" :   $light-gray,
  "color-zeta"    :   $light,
  "color-eta"     :   $ultramarine,
  "color-theta"   :   $icon_blue,
  "color-psi"     :   $dark_violet,
  "color-omega"   :   $light_blue,
);
$theme-colors: map-merge( $custom-colors ,$theme-colors );


/* Modify Navbar Variables
========================================================================= */
$navbar-brand-margin-end:                    0;
$navbar-light-color:                $dark_blue;
$navbar-light-hover-color:        $light_amber;


/* Modify Border Width
========================================================================= */
$border-custom-widths: (
  6:  6px,
  7:  7px,
  8:  8px,
  9:  9px,
  10: 10px,
  20: 20px,
);
$border-widths: map-merge( $border-custom-widths ,$border-widths );